<ion-view>
	<ion-header-bar align-title="middle" class="bar-stable">
		<div class="buttons">
			<button class="button button-clear" ng-click="goBack()"><i class="icon ion-arrow-left-a"></i></button>
		</div>
		<h1 class="title">ABOUT</h1>
		<!-- <div class="buttons">
			<a class="button button-clear" ui-sref="settings"><i class="icon ion-gear-a"></i></a>
		</div> -->		
	</ion-header-bar>		
	<ion-content class="has-header" has-header="true" style="background-color: black !important">
		<div style="background: url('img/pic.jpg') no-repeat;background-size:cover;background-position: center;height:50vh">
		</div>	
		<div class="list">
			<div style="text-align: center" class="item">
				<h2><b>JEREMY SOMERVILLE</b></h2>					
				<p>Brisbane, Australia</p>
			</div>
			<div class="item item-text-wrap">
				<h2><b>WHO AM I?</b></h2>					
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus amet ratione rem numquam explicabo deserunt ipsum ad id excepturi maxime facere, vero quisquam voluptatem harum beatae quis rerum aut impedit.</p>				
			</div>
			<div class="item item-text-wrap">
				<h2><b>MY INTERESTS</b></h2>					
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus laborum culpa nihil, officiis iure ea, sit est ipsam odio error quasi unde repellendus vero expedita modi vel sequi. Blanditiis, magnam?</p>				
			</div>
			<div class="item item-image">
				<img src="img/pic.jpg" alt="">				
			</div>
			<div class="item">
				<h2><b>CONTACT:</b></h2>
			</div>													
			<div class="item item-icon-right">
				<p style="font-size: 18px">Instagram</p>
				<i class="icon ion-ios-arrow-right"></i>
			</div>
			<div class="item item-icon-right">
				<p style="font-size: 18px">Facebbok</p>
				<i class="icon ion-ios-arrow-right"></i>
			</div>
			<div class="item item-icon-right">
				<p style="font-size: 18px">Email</p>
				<i class="icon ion-ios-arrow-right"></i>
			</div>
			<div class="item item-icon-right">
				<p style="font-size: 18px">Website</p>
				<i class="icon ion-ios-arrow-right"></i>
			</div>
		</div>
  	</ion-content>
</ion-view>
