<ion-view>
	<ion-header-bar align-title="middle" class="bar-stable">
		<div class="buttons">
			<button class="button button-clear" ng-click="goBack()"><i class="icon ion-arrow-left-a"></i></button>
		</div>
		<h1 class="title">GALLERY</h1>
	</ion-header-bar>		
	<ion-content class="has-header" has-header="true" style="background-color: black !important">
		<div class="row" style="padding:0">
			<div ng-repeat="picture in pictures" style="padding: 0;margin-top: -4px" ng-style="{'padding-right': {true:'0px',false:'1px'}[($index+1) % 3 == 0 && $index != 0]}" class="col col-33">
				<img ng-src="{{picture.img}}" style="height:15vh;width:100%;" alt="">
			</div>									
		</div>		
  	</ion-content>
</ion-view>
