<ion-view>	
	<ion-content class="no-header" has-header="false" ng-click="showHeader(bool_value)" style="height:100%;">
		<div style="text-align: center;-webkit-flex: auto;background: url('img/pic.jpg') no-repeat;background-size:cover;background-position: center;padding:0;height: 100%;">	
			<div style="width:100%;position:absolute;bottom:0;height:auto">
				<div class="button-bar">
					<a ng-click="goBack()" class="button button-light">Cancel</a>
					<div class="button button-light">Save To Library</div>
				</div>
			</div>
		</div> 			
  	</ion-content>
</ion-view>
<style>
	.row, .scroll {
	    height: 100%;
	}	
</style>